h1, h2, h3, legend {
    font-family: 'Cinzel', serif;
    font-weight: 700; 
}

#title {
    font-size: 3em;
    text-align: center;
}

.sub-title {
    text-align: center;
}

.info-heading {
    font-size: 2em;
}

body, p, ul li {
    font-family: 'Crimson Pro', serif;
    font-weight: 400;
}

body {
    background-image: url(images/1227933.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0;
    padding: 0;
}

hr {
    border: 1px solid red;
}

#main {
    background-color: rgba(238, 125, 125, 0.8); 
    padding: 20px;
    margin: 50px auto; 
    width: 80%; 
    max-width: 1200px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

fieldset {
    border: 2px solid red; 
    padding: 10px;
    border-radius: 5px; 
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
}

#img-div {
    border: none;
    padding: 0;
}

figcaption {
    text-align: center;
}
